<html>
    <head>
        <link rel="stylesheet" href="/about.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
          
              <a class="navbar-brand" href="/">
                <img src="/logo.png" alt="Logo" style="width: 200px;">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#footer">Contact</a>
                  </li>
                  <li class = "nav-item">
                    <a class="nav-link" href="/allusers"> View Users</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div style="background-color: #e7e4e6;width :1745px ; position:relative; right: 300px; ">
            <div class="container py-5">
              <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                  <h1 class="display-4">About Us </h1>
                  <p class="lead text-muted mb-0">At M&S Bank, we offer a range of financial services, from current accounts to insurance, savings products to credit cards. This is a fundamental banking system site where it is showed that how credits move from one's account to other's.</p>
                  
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img src="image22.png" alt="" class="img-fluid"></div>
              </div>
            </div>
          </div>
          
          <div class="bg-white py-5">
            <div class="container py-5">
              <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1"><i class="fas fa-credit-card"></i><br>
                  <h2 class="font-weight-light">Bank</h2>
                  <p class="font-italic text-muted mb-4">M&S Bank is a retail bank operating in the United Kingdom. It was originally formed as the financial services division of the British retailer Marks & Spencer in 1985 and adopted its current name in 2012.Initially focused on providing credit through in-house store cards, the bank now provides a range of products to personal customers including credit cards, loans, savings, insurance and foreign currency exchange.In early 2021, the bank was reported as having between 3 and 4 million customers.</p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="image1.jpeg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
              </div>
              <div class="row align-items-center">
                <div class="col-lg-5 px-5 mx-auto"><img src="image11.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                <div class="col-lg-6"><i class="fas fa-credit-card"></i>
                  <h2 class="font-weight-light">Technical</h2>
                  <p class="font-italic text-muted mb-4">M&S Bank offers an diverse scope of financial items and banking administrations to clients through a developing branch and ATM network and advanced channels like Netbanking, Phonebanking and MobileBanking.</p>
                </div>
              </div>
            </div>
          </div>
          
          
          
             
           
    </body>
</html>